.cardContainer {
    width: 400px;
    height: 200px;
    object-fit: contain;
    display: flex;
    flex-direction: row;
}

.cardContent {
    width: 60%;
}

.titleContainer{
    object-fit: contain;
}

.titleLink {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.faviconContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faviconContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.chipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    justify-content: center;
    object-fit: contain;
  }
  

.chip {
    background-color: white;
    color: black;
    padding: 6px 12px;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s; 
  }
  
.chip:hover {
    background-color: black;
    color: white;
  }
  
.chipLabel {
    font-size: 14px;
    font-weight: 500;
  }

#search-bar{
    padding-top: 5px;
}